<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={% static "css/materialize.css" %} type="text/css" media="all" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    <script src={% static "js/materialize.js" %}></script>
    <title>Home</title>
    <style>
        body {
            background: #ededed;
        }
    </style>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.sidenav');
            var instances = M.Sidenav.init(elems);
        });
    </script>
</head>

<body>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper blue z-depth-3">
                <a href="/staff" class="brand-logo" style="padding-left: 15px">Neon</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul class="left hide-on-med-and-down" style="padding-left:100px">
                    <!--<li><a href="/student" style="font-size:20px">Link1</a></li>-->
                    <!--<li><a href="/student" style="font-size:20px">Link2</a></li>-->
                </ul>
                <ul class="right hide-on-med-and-down">
                    <li>
                        <div class="chip">
                            <img src={% static "assets/images/yuna.jpg" %} alt="Contact Person">
                            {{email}}
                        </div>
                    </li>
                    <li><a href="/login/logout">Log out</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <ul class="sidenav" id="mobile-demo">
        <li>
            <div class="user-view">
                <div class="background">
                    <img src={% static "assets/images/office.jpg" %}>
                </div>
                <img src={% static "assets/images/yuna.jpg" %} img class="circle" alt="Contact Person">
                <a href="/student"><span class="white-text name">{{ first_name }}</span></a>
                <a href="/student"><span class="white-text email">{{email}}</span></a>
            </div>
        </li>
        <!--<li><a href="/student">Link1</a></li>-->
        <!--<li><a href="/student">Link2</a></li>-->
        <li><a href="/login/logout">Log out</a></li>
    </ul>
</body>
<div class="container">
    <div class="row">
        <div class="col l10 m12 s12 offset-l1">
            <form action="/staff/insertProgram/" method="POST">
                {% csrf_token %}
                <div class="card z-depth-3">
                    <div class="card-content">
                        <span class="card-title grey lighten-2" style="padding: 14px;">Program Information</span>
                        <div class="input-field">
                            <input id="program_code" name="program_code" type="text" class="validate" required>
                            <label for="program_code">Program Code</label>
                        </div>
                        <div class="input-field">
                            <input id="institute_name" name="institute_name" type="text" class="validate" required>
                            <label for="institute_name">Institute Name</label>
                        </div>
                        <div class="input-field">
                            <input id="name" name="name" type="text" class="validate" required>
                            <label for="name">Name</label>
                        </div>
                        <div class="input-field">
                            <input id="alias" name="alias" type="text" class="validate" required>
                            <label for="alias">Alias</label>
                        </div>
                        <div class="input-field">
                            <input id="program_type" name="program_type" type="text" class="validate" required>
                            <label for="program_type">Program Type</label>
                        </div>
                        <div class="input-field">
                            <input id="session_type" name="session_type" type="text" class="validate" required>
                            <label for="session_type">Session Type</label>
                        </div>
                        <div class="input-field">
                            <input id="no_of_sess" name="no_of_sess" type="number" class="validate" required>
                            <label for="no_of_sess">No of Sessions</label>
                        </div>
                        <div class="input-field">
                            <input id="no_of_year" name="no_of_year" type="number" class="validate" required>
                            <label for="no_of_year">No of Year</label>
                        </div>
                        <div class="input-field">
                            <input id="eligibility_criteria" name="eligibility_criteria" type="text" class="validate" required>
                            <label for="eligibility_criteria">Eligibility Criteria</label>
                        </div>
                        <div class="input-field">
                            <input id="result_type" name="result_type" type="text" class="validate" required>
                            <label for="result_type">Result Type</label>
                        </div>
                        <div class="input-field">
                            <input id="total_sessional" name="total_sessional" type="number" class="validate" required>
                            <label for="total_sessional">Total Sessional</label>
                        </div>
                        <div class="input-field">
                            <input id="compulsory_sessional" name="compulsory_sessional" type="number" class="validate" required>
                            <label for="compulsory_sessional">Compulsory Sessional</label>
                        </div>

                    </div>
                    <div class="card-action">
                        <button type="submit" class="waves-effect waves-light btn"><i
                                class="material-icons right">save</i>Submit</a></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

</html>