<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load avatar_tags %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={% static "css/materialize.css" %} type="text/css" media="all" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    <script src={% static "js/materialize.js" %}></script>
    <title>Home</title>
    <style>
        body {
            background: #ededed;
        }
    </style>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.sidenav');
            var instances = M.Sidenav.init(elems);
        });
    </script>
</head>

<body>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper blue z-depth-3">
                <a href="/student" class="brand-logo" style="padding-left: 15px">Neon</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul class="left hide-on-med-and-down" style="padding-left:100px">
                    <li><a href="/student/examResults" style="font-size:20px">Exam Results</a></li>
                    <li><a href="/student/courseDetails" style="font-size:20px">Course Details</a></li>
                    <li><a href="/todoApp" style="font-size:20px">Todo Lists</a></li>
                </ul>
                <ul class="right hide-on-med-and-down">
                    <li>
                        <div class="chip">
                            <!-- <img src={% static "assets/images/yuna.jpg" %} alt="Contact Person"> -->
                            {% avatar user id="user_avatar" %}
                            {{student.student_id}}
                        </div>
                    </li>
                    <li><a href="/login/logout">Log out</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <ul class="sidenav" id="mobile-demo">
        <li>
            <div class="user-view">
                <div class="background">
                    <img src={% static "assets/images/office.jpg" %}>
                </div>
                <!-- <img src={% static "assets/images/yuna.jpg" %} img class="circle" alt="Contact Person"> -->
                {% avatar user class="circle" id="user_avatar" %}
                <a href="#"><span class="white-text name">{{ student.first_name }}</span></a>
                <a href="#"><span class="white-text email">{{student.student_id}}</span></a>
            </div>
        </li>
        <li><a href="/student/examResults">Exam Results</a></li>
        <li><a href="/student/courseDetails">Course Details</a></li>
        <li><a href="/login/logout">Log out</a></li>
    </ul>
    <div class="">
        <div class="row">
            <div class="col l12 m12 s12">
                <div class="card z-depth-3">
                    <div class="card-content">
                        <span class="card-title grey lighten-2" style="padding: 14px;">Course Details
                        </span>
                        <table class="table-responsive">
                            <thead>
                                <tr>
                                    <th>Subject Code</th>
                                    <th>Name</th>
                                    <th>Alias</th>
                                    <th>Program</th>
                                    <th>Rec Status</th>
                                    <th>Session</th>
                                    <th>Elective</th>
                                    <th>Credit</th>
                                    <th>Th Min Pass1</th>
                                    <th>Th Min Pass2</th>
                                    <th>Th Total</th>
                                    <th>Sess Min Pass1</th>
                                    <th>Sess Min Pass2</th>
                                    <th>Sess Total</th>
                                    <th>Pr Min Pass1</th>
                                    <th>Pr Min Pass2</th>
                                    <th>Pr Total</th>
                                    <th>Tw Min Pass1</th>
                                    <th>Tw Min Pass2</th>
                                    <th>Tw Total</th>
                                    <th>Total Min Pass</th>
                                    <th>Total Marks</th>
                                    <th>Syllabus</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for row in courses %}
                                <tr>
                                    <td>{{row.subject_code}}</td>
                                    <td>{{row.name}}</td>
                                    <td>{{row.alias}}</td>
                                    <td>{{row.program.name}}</td>
                                    <td>{{row.rec_status}}</td>
                                    <td>{{row.session}}</td>
                                    <td>{{row.elective}}</td>
                                    <td>{{row.credit}}</td>
                                    <td>{{row.th_min_pass1}}</td>
                                    <td>{{row.th_min_pass2}}</td>
                                    <td>{{row.th_total}}</td>
                                    <td>{{row.sess_min_pass1}}</td>
                                    <td>{{row.sess_min_pass2}}</td>
                                    <td>{{row.sess_total}}</td>
                                    <td>{{row.pr_min_pass1}}</td>
                                    <td>{{row.pr_min_pass2}}</td>
                                    <td>{{row.pr_total}}</td>
                                    <td>{{row.tw_min_pass1}}</td>
                                    <td>{{row.tw_min_pass2}}</td>
                                    <td>{{row.tw_total}}</td>
                                    <td>{{row.total_min_pass}}</td>
                                    <td>{{row.total_marks}}</td>
                                    <td>{{row.syllabus}}</td>

                                </tr>
                                {% empty %}
                                <tr><span>No data available!</span></tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>