<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={% static "css/materialize.css" %} type="text/css" media="all" />
    <!--<script src={% static "js/materialize.js" %}></script>-->
    <title>Home Page</title>
    <style>
        body {
            background: #ededed;
        }
    </style>
</head>

<body>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper blue">
                <a href="#" class="brand-logo" style="padding-left: 5px;">Neon</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li>
                        <div class="chip">
                            <img src={% static "assets/images/yuna.jpg" %} alt="Contact Person">
                            {{student.student_id}}
                        </div>
                    </li>
                    <li><a href="/login/logout">Log out</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="container">
        <div class="row">
            <div class="col l10 offset-l1">
                <div class="card">
                    <div class="card-content">
                        <div class="card-title">
                            <h3 style="border-bottom:2px dotted black">STUDENT PROFILE</h3>
                        </div>
                            <table class="highlight responsive-table">
                            <tbody>
                                <!--<tr>-->
                                    <!--<td>FIRST NAME</td>-->
                                    <!--<td>{{student.first_name}}</td>-->
                                <!--</tr>-->
                                <!--<tr>-->
                                    <!--<td>MIDDLE NAME</td>-->
                                    <!--<td>{{student.middle_name}}</td>-->
                                <!--</tr>-->
                                <!--<tr>-->
                                    <!--<td>LAST NAME</td>-->
                                    <!--<td>{{student.last_name}}</td>-->
                                <!--</tr>-->
                                <!--<tr>-->
                                    <!--<td>NAME FORMAT</td>-->
                                    <!--<td>{{student.name_format}}</td>-->
                                <!--</tr>-->
                                <tr>
                                    <td>FULL NAME</td>
                                    {% if student.name_format == 'LFM'%}
                                    <td>{{student.last_name}} {{student.first_name}} {{student.middle_name}}</td>
                                    {% elif student.name_format == 'FML' %}
                                    <td>{{student.first_name}} {{student.middle_name}} {{student.last_name}}</td>
                                    {% endif %}
                                </tr>
                                <tr>
                                    <td>GENDER</td>
                                    <td>{{student.gender}}</td>
                                </tr>
                                <tr>
                                    <td>BIRTH DATE</td>
                                    <td>{{student.birth_date}}</td>
                                </tr>
                                <tr>
                                    <td>BIRTH PLACE</td>
                                    <td>{{student.birth_place}}</td>
                                </tr>
                                <tr>
                                    <td>CAST CATEGORY CODE</td>
                                    <td>{{student.cast_category_code}}</td>
                                </tr>
                                <tr>
                                    <td>SUB-CASTE</td>
                                    <td>{{student.sub_cast}}</td>
                                </tr>
                                <tr>
                                    <td>MARITAL STATUS</td>
                                    <td>{{student.marital_status}}</td>
                                </tr>
                                <tr>
                                    <td>NATIONALITY</td>
                                    <td>{{student.nationality}}</td>
                                </tr>
                                <tr>
                                    <td>BLOOD GROUP</td>
                                    <td>{{student.blood_group}}</td>
                                </tr>
                                {% if student.phone_no %}
                                <tr>
                                    <td>PHONE NO.</td>
                                    <td>{{student.phone_no}}</td>
                                </tr>
                                {% endif %}
                                <tr>
                                    <td>MOBILE NO.</td>
                                    <td>{{student.mobile_no}}</td>
                                </tr>
                                <tr>
                                    <td>EMAIL</td>
                                    <td>{{student.email}}</td>
                                </tr>
                                <tr style="border-bottom:2px solid black">
                                    <td colspan="2"><br/><b>ENROLLMENT DETAILS</b></td>
                                </tr>
                                <tr>
                                    <td>DDU REPORTING DATE</td>
                                    <td>{{student.ddu_reporting_date}}</td>
                                </tr>
                                <tr>
                                    <td>ADMISSION TYPE</td>
                                    <td>{{student.admission_type}}</td>
                                </tr>
                                <tr>
                                    <td>ACPC SEAT ALLOTMENT DATE</td>
                                    <td>{{student.acpc_seat_allotment_date}}</td>
                                </tr>
                                <tr>
                                    <td>IS D2d</td>
                                    <td>{{student.is_d2d}}</td>
                                </tr>
                                <tr>
                                    <td>ENROLLMENT YEAR</td>
                                    <td>{{student.enrollment_year}}</td>
                                </tr>
                                <tr>
                                    <td>DEGREE</td>
                                    <td>{{student.degree}}</td>
                                </tr>
                                <tr>
                                    <td>QUALIFYING EXAM ROLLNO</td>
                                    <td>{{student.qualifying_exam_rollno}}</td>
                                </tr>
                                <tr>
                                    <td>SESSION TYPE</td>
                                    <td>{{student.session_type}}</td>
                                </tr>
                                <tr>
                                    <td>SESSION NO</td>
                                    <td>{{student.session_no}}</td>
                                </tr>
                                <tr>
                                    <td>BATCH YEAR</td>
                                    <td>{{student.batch_year}}</td>
                                </tr>
                                <tr>
                                    <td>STUDENT CODE</td>
                                    <td>{{student.student_id}}</td>
                                </tr>
                                <tr>
                                    <td>OLD STUDENT CODE</td>
                                    <td>{{student.old_student_code}}</td>
                                </tr>
                                <tr>
                                    <td>STUDENT ALLOTMENT</td>
                                    <td>{{student.students_allotment}}</td>
                                </tr>
                                <tr>
                                    <td>MERIT RANK</td>
                                    <td>{{student.merit_rank}}</td>
                                </tr>
                                <tr>
                                    <td>RE SHUFFLE STATUS</td>
                                    <td>{{student.re_shuffle_status}}</td>
                                </tr>
                                <tr>
                                    <td>RE SHUFFLE PHASE</td>
                                    <td>{{student.re_shuffle_phase}}</td>
                                </tr>
                                <tr style="border-bottom:2px solid black">
                                    <td colspan="2"><br/><b>GUARDIAN'S INFORMATION</b></td>
                                </tr>
                                <tr>
                                    <td>RELATION</td>
                                    <td>{{student.relation_type}}</td>
                                </tr>
                                <tr>
                                    <td>NAME</td>
                                    <td>{{student.full_name}}</td>
                                </tr>
                                <tr>
                                    <td>OCCUPATION</td>
                                    <td>{{student.occupation}}</td>
                                </tr>
                                <tr>
                                    <td>ORGANIZATION</td>
                                    <td>{{student.organization_name}}</td>
                                </tr>
                                <tr>
                                    <td>ANNUAL INCOME</td>
                                    <td>{{student.annual_income}}</td>
                                </tr>
                                <tr style="border-bottom:2px solid black">
                                    <td colspan="2"><br/><b>PERMANENT ADDRESS</b></td>
                                </tr>
                                <tr>
                                    <td>ADDRESS</td>
                                    <td>{{student.address1}},<br/>{{student.address2}},<br/>{{student.address3}}-{{student.pin_code}}</td>
                                </tr>
                                <tr>
                                    <td>CITY</td>
                                    <td>{{student.city}}</td>
                                </tr>
                                <tr>
                                    <td>STATE & COUNTRY</td>
                                    <td>{{student.state}}</td>
                                </tr>
                                <tr>
                                    <td>COUNTRY</td>
                                    <td>{{student.country}}</td>
                                </tr>
                                <tr style="border-bottom:2px solid black">
                                    <td colspan="2"><br/><b>CURRENT ADDRESS</b></td>
                                </tr>
                                <tr>
                                    <td>ADDRESS</td>
                                    <td>{{student.local_address1}},<br/>{{student.local_address2}},<br/>{{student.local_address3}}</td>
                                </tr>
                                <tr>
                                    <td>CITY</td>
                                    <td>{{student.local_city}}</td>
                                </tr>
                                <tr>
                                    <td>MOBILE NO.</td>
                                    <td>{{student.local_mobile_no}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>