<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={% static "css/materialize.css" %} type="text/css" media="all" />
    <script src={% static "js/materialize.js" %}></script>
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col l6 offset-l3">
                <div class="card">
                    <!-- <div class="card-image">
                        <img src="images/sample-1.jpg">
                        <span class="card-title">Card Title</span>
                    </div> -->
                    <div class="card-content">
                        <div class="input-field">
                            <input id="last_name" type="text" class="validate">
                            <label for="last_name">Last Name</label>
                        </div>
                    </div>
                    <div class="card-action">
                        <a href="#">This is a link</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>